<div class="col-md-4 management-area">
    <h3>Τμήματα
        <button class="btn btn-xs btn-primary" ng-click="addGroup()" ng-disabled="!viewData.activeSchool">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </h3>

    <div class="management-msg" ng-if="!viewData.activeSchool">
        Επιλέξτε πρώτα σχολείο
    </div>

    <div class="management-msg" ng-if="viewData.activeSchool && !viewData.activeSchoolHasGroups">
        Δεν έχει εισαχθεί κανένα τμήμα
    </div>

    <table class="table table-hover" ng-if="viewData.activeSchool && viewData.activeSchoolHasGroups">
        <thead>
        <tr>
            <th class="management-col1">Όνομα</th>
            <th class="management-col2">Ανανέωση</th>
            <th class="management-col3">Διαγραφή</th>
        </tr>
        </thead>
        <tbody>
        <tr class="clickable" ng-repeat="group in data.groups"
            group-control="group" groups="viewData.activeSchool.groups"
            ng-click="setActiveGroup(group, $event)"
            ng-class="{'active': group === viewData.activeGroup}">
        </tr>
        </tbody>
    </table>
</div>
