<div class="col-md-4 management-area-last">

    <h3>Χρονιές
        <button class="btn btn-xs btn-primary" title="Νέο χρονιά"
                ng-click="addGroup()" ng-disabled="!viewData.activeDepartment">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </h3>

    <img src="images/loader.gif" ng-show="viewData.groupsLoading" class="center-block"/>

    <div class="management-msg" ng-if="!viewData.activeDepartment">
        Επιλέξτε πρώτα τμήμα
    </div>

    <div class="management-msg" ng-if="!viewData.groupsLoading && viewData.activeDepartment && !data.groups.length">
        Δεν έχει εισαχθεί καμιά χρονιά
    </div>

    <table class="table table-condensed" ng-if="!viewData.groupsLoading && viewData.activeDepartment && data.groups.length">

        <thead>
            <tr>
                <th class="group-management-col1">Όνομα</th>
                <th class="group-management-col2">&nbsp;</th>
            </tr>
        </thead>

        <tbody>
            <tr class="clickable" ng-repeat="group in data.groups"
                group-control="group" groups="data.groups" view-data="viewData"
                ng-click="setActiveGroup (group)"
                ng-class="{'active': group === viewData.activeGroup }">
            </tr>
        </tbody>

    </table>

</div>
