<form class="form-horizontal" role="form">
    <input type="hidden" ng-model="data.guardian.id">

    <div class="form-group">
        <label for="firstName" class="col-sm-2 control-label">First name</label>

        <div class="col-sm-10 col-lg-3">
            <input type="text" class="form-control" id="firstName" ng-model="data.guardian.firstName">
        </div>
    </div>

    <div class="form-group">
        <label for="lastName" class="col-sm-2 control-label">Last name</label>

        <div class="col-sm-10 col-lg-3">
            <input type="text" class="form-control" id="lastName" ng-model="data.guardian.lastName">
        </div>
    </div>

    <div class="form-group">
        <label for="dateOfBirth" class="col-sm-2 control-label">Date of birth (dd-MM-yyyy)</label>

        <div class="col-sm-10 col-lg-3">
            <input type="text" class="form-control" id="dateOfBirth" ng-model="data.guardian.dateOfBirth">
        </div>
    </div>

    <div class="form-group">
        <label for="sex" class="col-sm-2 control-label">Sex</label>

        <div class="col-sm-10 col-lg-3">
            <select class="form-control" id="sex" ng-model="data.guardian.sex">
                <option value="">--</option>
                <option value="MALE">male</option>
                <option value="FEMALE">female</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="nationality" class="col-sm-2 control-label">Nationality</label>

        <div class="col-sm-10 col-lg-3">
            <input type="text" class="form-control" id="nationality" ng-model="data.guardian.nationality">
        </div>
    </div>

    <div class="form-group">
        <label for="profession" class="col-sm-2 control-label">Profession</label>

        <div class="col-sm-10 col-lg-3">
            <input type="text" class="form-control" id="profession" ng-model="data.guardian.profession">
        </div>
    </div>

    <div class="form-group">
        <label for="relationship" class="col-sm-2 control-label">Relationship</label>

        <div class="col-sm-10 col-lg-3">
            <select class="form-control" id="relationship" ng-model="data.relationship.relationshipMetadata.type"
                    ng-options="relationship for relationship in viewData.relationshipTypes">
                <option value="">--</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default" ng-click="submit()">{{viewData.submitLabel}}</button>
            <button class="btn btn-default" ng-click="toScopedChild()">Cancel</button>
        </div>
    </div>

</form>
