<dl class="dl-horizontal">

    <dt>Όνομα</dt>
    <dd>{{guardian.firstName}}&nbsp;</dd>

    <dt>Επώνυμο</dt>
    <dd>{{guardian.lastName}}&nbsp;</dd>

    <dt ng-if="guardian.dateOfBirth">Ημ/νία γέν.</dt>
    <dd ng-if="guardian.dateOfBirth">{{guardian.dateOfBirth}}&nbsp;</dd>

    <dt ng-if="guardian.genre">Φύλο</dt>
    <dd ng-if="guardian.genre">{{guardian.genre | guardianGenreTypeFilter}}&nbsp;</dd>

    <dt ng-if="guardian.nationality">Υπηκοότητα</dt>
    <dd ng-if="guardian.nationality">{{guardian.nationality}}&nbsp;</dd>

    <dt ng-if="guardian.profession">Επάγγελμα</dt>
    <dd ng-if="guardian.profession">{{guardian.profession}}&nbsp;</dd>

    <dt ng-repeat-start="telephone in guardian.telephones">Τηλέφωνο</dt>
    <dd ng-repeat-end>{{telephone.number}}&nbsp;
        <span class="phone-type">{{telephone.type|telephoneTypeFilter}}</span>
    </dd>

    <dt ng-if="!isBlankAddress(address)">Διεύθυνση</dt>
    <dd ng-if="!isBlankAddress(address)">{{address | addressFilter}} &nbsp; </dd>

</dl>

