@boy-color: #3399ff;
@girl-color: #ff33ff;
@preschool-a-color: #ff8000;
@preschool-b-color: #66cc00;

body {
    font-family: 'Open Sans', sans-serif;
}

.clabel {
    font-weight: bold;
}

.clickable {
    cursor: pointer;
}

.submessage {
  font-size: larger;
  font-style: italic;
  margin: 1em;
}

.collaspable {
  font-size: small;
  .clickable;
  .glyphicon;
}

.collapsable-open {
  .collaspable;
  .glyphicon-triangle-right;
}

.collapsable-close {
  .collaspable;
  .glyphicon-triangle-bottom;
}

.loader-input {
  position: relative;
  padding-right: 30px;
}

.loader-img {
  position: absolute;
  right: 30px;
  top: 12px;
}

.loader-small {
  width: 16px;
  height: 16px;
}

.loader-medium {
  width: 32px;
  height: 32px;
}

.phone-type {
  .label;
  .label-success;
}

.child-list-col1 {
  width: 30%
}

.child-list-col2 {
  width: 30%
}

.child-list-col3 {
  width: 15%
}

.child-list-col4 {
  width: 15%
}

.child-list-col5 {
  width: 10%
}

.management-area {
  border-right: 1px solid #ccc;
}

.management-area-last {
  .management-area;
  border-right: none;
}

.management-msg {
  width: 100%; 
  text-align: center;
  font-style: italic; 
  font-size: larger; 
  padding-top: 2em;
}

.management-col1 {
  width: 70%;
}

.management-col2 {
  width: 30%;
}

.group-management-col1 {
  width: 60%;
}

.group-management-col2 {
  width: 40%;
}

.btn-remove {
  .btn;
  .btn-danger;
  .btn-xs;
}

.info-badge-mixin(@background: @badge-bg) {
	.badge;
	color: lighten(@badge-color, 80%);
	background-color: @background;
}

.boys-badge {
	.info-badge-mixin(@boy-color);
}

.girls-badge {
	.info-badge-mixin(@girl-color);
}

.levela-badge {
	.info-badge-mixin(@preschool-a-color);
}

.levelb-badge {
	.info-badge-mixin(@preschool-b-color);
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('fonts/opensans.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('fonts/opensans-bold.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url('fonts/opensans-italic.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url('fonts/opensans-bolditalic.woff') format('woff');
}
