<div class="page-header">
    <h2>
        Κατάλογος παιδιών
        <span class="badge" ng-if="data.children.length > 0">{{data.children.length}}</span>
        <img src="images/loader.gif" ng-hide="data.children.$resolved"/>
    </h2>
</div>

<div ng-show="data.children.$resolved && viewData.noChildren" class="submessage">
    Δεν έχει εισαχθεί κανένα παιδί ακόμα.
</div>

<table class="table table-striped table-hover table-condensed" ng-show="data.children.$resolved && !viewData.noChildren">
    <thead>
        <tr>
            <th class="child-list-col1">Όνομα</th>
            <th class="child-list-col2">Επώνυμο</th>
            <th class="child-list-col3">Τάξη</th>
            <th class="child-list-col4">Φύλο</th>
            <th class="child-list-col5">Σημειώσεις</th>
        </tr>
    </thead>
    <tbody ng-click="goToChild($event)">
        <tr ng-repeat="child in data.children" class="clickable">
            <td>{{child|firstNameFilter}}</td>
            <td>{{child.lastName}}</td>
            <td>{{child.level|preSchoolLevelFilter}}</td>
            <td>{{child.gender|childGenreTypeFilter}}</td>
            <td><span class="glyphicon glyphicon-info-sign" ng-if="child.notes" title="{{child.notes}}"></span></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5"><group-statistics group-id="viewData.groupId"></group-statistics></td>
        </tr>
    </tfoot>
</table>

<button class="btn btn-primary btn-md" ng-click="go('/child/create')">
    <span class="glyphicon glyphicon-flash"></span> Δημιουργία παιδιού
</button>
