<div class="page-header">
    <h2>{{viewData.submitLabel}} σχέσης
        <small>
            <person-name person="data.guardian"></person-name>
        </small>
    </h2>
</div>

<form class="form-horizontal well" role="form" ui-keypress="{'enter':'submit()', 'esc':'toScopedChild()'}">
    <input type="hidden" ng-model="data.guardian.id"/>
    <input type="hidden" ng-model="data.relationship.id"/>

    <fieldset>

        <div class="row">
            <div class="form-group">
                <label for="firstName" class="col-md-2 control-label">Όνομα</label>
    
                <div class="col-md-4">
                    <input type="text" class="form-control loader-input" id="firstName" autocomplete="off" focus
                           ng-model="data.guardian.firstName"
                           typeahead="firstName for firstName in typeaheads.getFirstNames($viewValue)"
                           typeahead-min-length="1" typeahead-wait-ms="500" typeahead-loading="loadingFirstNames"/>
                    <img src="images/loader.gif" ng-show="loadingFirstNames" class="loader-img"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label for="lastName" class="col-md-2 control-label">Επώνυμο</label>
    
                <div class="col-md-4">
                    <input type="text" class="form-control loader-input" id="lastName" autocomplete="off"
                           ng-model="data.guardian.lastName" typeahead-loading="loadingLastNames"
                           typeahead="lastName for lastName in typeaheads.getLastNames($viewValue)"
                           typeahead-min-length="1" typeahead-wait-ms="500"/>
                    <img src="images/loader.gif" ng-show="loadingLastNames" class="loader-img"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label for="dateOfBirth" class="col-md-2 control-label">Ημ/νία γεν.</label>
    
                <div class="col-md-4">
                    <input type="text" class="form-control" id="dateOfBirth" placeholder="ΗΗ-ΜΜ-ΧΧΧΧ" 
                            ng-model="data.guardian.dateOfBirth"/>
                </div>
            </div>
        </div>

        
        <div class="row">
            <div class="form-group">
                <label for="gender" class="col-md-2 control-label">Φύλο</label>
    
                <div class="col-md-4">
                    <select class="form-control" id="gender" ng-model="data.guardian.gender">
                        <option value="MALE">Άνδρας</option>
                        <option value="FEMALE">Γυναίκα</option>
                    </select>
                </div>
            </div>
        </div>
            
        <div class="row">
            <div class="form-group">
                <label for="nationality" class="col-md-2 control-label">Υπηκοότητα</label>
    
                <div class="col-md-4">
                    <input type="text" class="form-control loader-input" id="nationality" autocomplete="off"
                           ng-model="data.guardian.nationality" typeahead-loading="loadingNationalities"
                           typeahead="nationality for nationality in typeaheads.getNationalities($viewValue)"
                           typeahead-min-length="1" typeahead-wait-ms="500"/>
                    <img src="images/loader.gif" ng-show="loadingNationalities" class="loader-img"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label for="profession" class="col-md-2 control-label">Επάγγελμα</label>
    
                <div class="col-md-4">
                    <input type="text" class="form-control loader-input" id="profession" autocomplete="off"
                           ng-model="data.guardian.profession" typeahead-loading="loadingProfession"
                           typeahead="profession for profession in typeaheads.getProfessions($viewValue)"
                           typeahead-min-length="1" typeahead-wait-ms="500"/>
                    <img src="images/loader.gif" ng-show="loadingProfession" class="loader-img"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label for="email" class="col-md-2 control-label">E-mail</label>
    
                <div class="col-md-4">
                    <input type="text" class="form-control" id="email" ng-model="data.guardian.email" autocomplete="off"/>
                </div>
            </div>
        </div>

        <!-- Relationship section -->
        <div class="row">
            <div class="form-group">
                <label for="relationship" class="col-md-2 control-label">Σχέση με το παιδί</label>
    
                <div class="col-md-4">
                    <select class="form-control" id="relationship" ng-model="data.relationship.metadata.type"
                            ng-options="relationship|relationshipFilter for relationship in relationshipTypes">
                        <option value="">--</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label for="escort" class="col-md-2 control-label">Συνοδός</label>
    
                <div class="col-md-4">
                    <input class="form-control" id="escort" ng-model="data.relationship.metadata.pickup" type="checkbox"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label for="notes" class="col-md-2 control-label">Σημειώσεις</label>
    
                <div class="col-md-4">
                    <textarea rows="3" class="form-control" id="notes" ng-model="data.relationship.metadata.notes">
                    </textarea>
                </div>
            </div>
        </div>
    </fieldset>

    <!-- Telephones section -->
    <telephones model="data.guardian.telephones"></telephones>
    
    <!-- Address section -->
    <input-address address="data.address" allow-copy="true" typeaheads="typeaheads"></input-address>

    <div class="row">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-5">
                <button class="btn btn-success" ng-click="submit()">{{viewData.submitLabel}}</button>
                <button class="btn btn-primary" ng-click="toScopedChild()">Άκυρωση</button>
            </div>
        </div>
    </div>
</form>
