<dl class="dl-horizontal">

    <dt>Όνομα</dt>
    <dd>{{child.firstName}}&nbsp;</dd>

    <dt>Επώνυμο</dt>
    <dd>{{child.lastName}}&nbsp;</dd>

    <dt ng-if="child.callName">Χαϊδευτικό</dt>
    <dd ng-if="child.callName">{{child.callName}}&nbsp;</dd>

    <dt>Τάξη</dt>
    <dd>{{child.level|preSchoolLevelFilter}}&nbsp;</dd>

    <dt ng-if="child.dateOfBirth">Ημ/νία γέν.</dt>
    <dd ng-if="child.dateOfBirth">{{child.dateOfBirth}}&nbsp;</dd>

    <dt ng-if="child.genre">Φύλο</dt>
    <dd ng-if="child.genre">{{child.genre | childGenreTypeFilter}}&nbsp;</dd>

    <dt ng-if="child.nationality">Υπηκοότητα</dt>
    <dd ng-if="child.nationality">{{child.nationality}}&nbsp;</dd>

    <dt ng-if="!isBlankAddress(address)">Διεύθυνση</dt>
    <dd ng-if="!isBlankAddress(address)">{{address | addressFilter}} &nbsp; </dd>

</dl>
