<div class="page-header">
    <h2>
        {{viewData.submitLabel}} παιδιού
        <small>
            <person-name person="data.child"></person-name>
        </small>
    </h2>
</div>

<div>

    <form class="form-horizontal" role="form">

        <div class="form-group">
            <label for="firstName" class="col-sm-2 control-label">Όνομα</label>

            <div class="col-sm-3">
                <input type="text" class="form-control" id="firstName" ng-model="data.child.firstName">
            </div>
        </div>

        <div class="form-group">
            <label for="lastName" class="col-sm-2 control-label">Επώνυμο</label>

            <div class="col-sm-3">
                <input type="text" class="form-control" id="lastName" ng-model="data.child.lastName">
            </div>
        </div>

        <div class="form-group">
            <label for="callName" class="col-sm-2 control-label">Χαϊδευτικό</label>

            <div class="col-sm-3">
                <input type="text" class="form-control" id="callName" ng-model="data.child.callName">
            </div>
        </div>

        <div class="form-group">
            <label for="dateOfBirth" class="col-sm-2 control-label">Ημ/νία γεν.</label>

            <div class="col-sm-3">
                <input type="text" class="form-control" id="dateOfBirth" ng-model="data.child.dateOfBirth"
                       placeholder="ΗΗ-ΜΜ-ΧΧΧΧ">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Τάξη</label>

            <div class="col-sm-3">
                <label class="radio-inline">
                    <input type="radio" ng-model="data.child.level" value="PRE_SCHOOL_LEVEL_B"> Νήπιο
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-model="data.child.level" value="PRE_SCHOOL_LEVEL_A"> Προνήπιο
                </label>
            </div>
        </div>


        <div class="form-group">
            <label for="genre" class="col-sm-2 control-label">Φύλο</label>

            <div class="col-sm-3">
                <select class="form-control" id="genre" ng-model="data.child.genre">
                    <option value="MALE">Αγόρι</option>
                    <option value="FEMALE">Κορίτσι</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="nationality" class="col-sm-2 control-label">Υπηκοότητα</label>

            <div class="col-sm-3">
                <input type="text" class="form-control" id="nationality" ng-model="data.child.nationality">
            </div>
        </div>

        <div class="form-group">
            <label for="notes" class="col-sm-2 control-label">Σημειώσεις</label>

            <div class="col-sm-3">
                <textarea rows="3" class="form-control" id="notes" ng-model="data.child.notes"></textarea>
            </div>
        </div>

        <input-address address="data.address" share-option="false"></input-address>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary" ng-click="submit()">{{viewData.submitLabel}}</button>
                <button class="btn btn-default" ng-click="toScopedChild()">Ακύρωση</button>
            </div>
        </div>

    </form>

</div>
