<div class="page-header">
    <h2>{{viewData.submitLabel}} παιδιού</h2>
</div>

<div>

    <form class="form-horizontal" role="form">

        <div class="form-group">
            <label for="firstName" class="col-md-2 control-label">Όνομα</label>

            <div class="col-md-3">
                <input type="text" class="form-control" id="firstName" ng-model="data.child.firstName">
            </div>
        </div>

        <div class="form-group">
            <label for="lastName" class="col-md-2 control-label">Επώνυμο</label>

            <div class="col-md-3">
                <input type="text" class="form-control" id="lastName" ng-model="data.child.lastName">
            </div>
        </div>

        <div class="form-group">
            <label for="callName" class="col-md-2 control-label">Χαϊδευτικό</label>

            <div class="col-md-3">
                <input type="text" class="form-control" id="callName" ng-model="data.child.callName">
            </div>
        </div>

        <div class="form-group">
            <label for="dateOfBirth" class="col-md-2 control-label">Ημ/νία γεν. (dd-MM-yyyy)</label>

            <div class="col-md-3">
                <input type="text" class="form-control" id="dateOfBirth" ng-model="data.child.dateOfBirth">
            </div>
        </div>

        <div class="form-group">
            <label for="sex" class="col-md-2 control-label">Φύλο</label>

            <div class="col-md-3">
                <select class="form-control" id="sex" ng-model="data.child.sex">
                    <option value="MALE">Αγόρι</option>
                    <option value="FEMALE">Κορίτσι</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="nationality" class="col-md-2 control-label">Υπηκοότητα</label>

            <div class="col-md-3">
                <input type="text" class="form-control" id="nationality" ng-model="data.child.nationality">
            </div>
        </div>

        <input-address address="data.child.address"></input-address>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-primary" ng-click="submit()">{{viewData.submitLabel}}</button>
                <button class="btn btn-default" ng-click="toChildList()">Ακύρωση</button>
            </div>
        </div>

    </form>

</div>
