<div class="page-header">
    <h2>Κατάλογος παιδιών <span class="badge" ng-if="data.children.length > 0">{{data.children.length}}</span></h2>
</div>

<div ng-if="viewData.noChildren" style="padding-bottom: 1em">
    Δεν έχει εισαχθεί κανένα παιδί ακόμα.
</div>

<table class="table table-striped table-hover" ng-if="!viewData.noChildren">
    <thead>
    <tr>
        <th>Ονοματεπώνυμο</th>
        <th>Τάξη</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="child in data.children" ng-click="go('/child/' + child.id + '/view')" class="clickable">
        <td> {{child.firstName}} {{child.lastName}}</td>
        <td> {{child.level|preSchoolLevelFilter}}</td>
    </tr>
    </tbody>
</table>

<div class="row">
    <button class="btn btn-primary btn-md" ng-click="go('/child/create')">
        <span class="glyphicon glyphicon-plus-sign"></span> Εισαγωγή παιδιού
    </button>
</div>
