<div class="page-header">
    <h2>
        <person-name person="data.child"></person-name>
        <div class="pull-right" ng-show="{{viewData.hasChildrenIdsInScope}}">
            <button class="btn btn-primary btn-sm" ng-click="previousChild()" title="Προηγούμενο παιδί">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </button>
            <button class="btn btn-primary btn-sm" ng-click="nextChild()" title="Επόμενο παιδί">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
        </div>
    </h2>
</div>


<display-child child="data.child" address="data.address"></display-child>

<fieldset>
    <legend>
        Κηδεμόνες <span class="badge" ng-if="data.relationships.length > 0">{{data.relationships.length}}</span>
    </legend>

    <div ng-if="data.relationships.length == 0"> Δεν έχει εισαχθεί κανείς κηδεμόνας ακόμα</div>

    <table class="table table-striped table-hover" ng-if="data.relationships.length > 0">
        <thead>
        <tr>
            <th>Όνομα</th>
            <th>Ιδιότητα</th>
            <th>Τηλέφωνο</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody ng-click="goToGuardian($event)">
        <tr ng-repeat="relationship in data.relationships" class="clickable">
            <td>{{relationship.guardian.firstName}} {{relationship.guardian.lastName}}</td>
            <td>{{relationship.metadata.type | relationshipFilter}}</td>
            <td>
                <telephone model="relationship.guardian.telephones[0]"></telephone>
            </td>
            <td class="text-right">
                <button class="btn btn-xs" ng-click="go('/guardian/' + relationship.guardian.id + '/edit', $event)">
                    <span class="glyphicon glyphicon-edit"></span> Ανανέωση
                </button>
                <button class="btn btn-xs" ng-click="confirmRemoveRelationship(relationship.id, $event)">
                    <span class="glyphicon glyphicon-remove-sign"></span> Διαγραφή
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</fieldset>

<div style="padding-top: 1em">
    <button class="btn btn-primary btn-md" ng-click="addGuardian()">
        <span class="glyphicon glyphicon-user"></span> Εισαγωγή κηδεμόνα
    </button>
    <button class="btn btn-md btn-primary" ng-click="go('/child/' + data.child.id  + '/update')">
        <span class="glyphicon glyphicon-edit"></span> Ανανέωση
    </button>
    <button class="btn btn-md btn-danger" ng-click="confirmRemoveChild()">
        <span class="glyphicon glyphicon-remove-sign"></span> Διαγραφή
    </button>
</div>
