<div class="page-header">
    <h2>Παιδί</h2>
</div>

<display-child child="data.child"></display-child>

<div class="row">
    <div class="col-md-5" style="padding-top: 1em">
        <button class="btn btn-default" ng-click="toChildList()">Κατάλογος παιδιών</button>
        <button class="btn btn-danger" ng-click="delete()">Διαγραφή</button>
    </div>
</div>

<h3>Κηδεμόνες</h3>

<div ng-if="data.relationships.length == 0">
    Δεν έχει εισαχθεί κανείς κηδεμόνας ακόμα.
    <button class="btn btn-xs" ng-click="addGuardian()">Εισαγωγή νέου κηδεμόνα</button>
</div>

<table class="table table-striped table-hover" ng-if="data.relationships.length > 0">

    <thead>
    <tr>
        <th>Όνομα</th>
        <th>Ιδιότητα</th>
        <th>&nbsp;</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="relationship in data.relationships">
        <td>{{relationship.guardian.firstName}} {{relationship.guardian.lastName}}</td>
        <td>{{relationship.relationship.relationshipMetadata.type | relationshipFilter}}</td>
        <td class="text-right">
            <button class="btn btn-xs" ng-click="go('/guardian/' + relationship.guardian.id + '/view')">Προβολή</button>
            <button class="btn btn-xs" ng-click="go('/guardian/' + relationship.guardian.id + '/edit')">Ανανέωση
            </button>
            <button class="btn btn-xs">Διαγραφή</button>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3" style="padding-top: 1em">
        <button class="btn btn-default" ng-click="addGuardian()">Προσθήκη νέου κηδεμόνα</button>
        </td>
    </tr>
    </tfoot>
</table>
