<div class="page-header">
    <h2>Παιδί
        <small>
            <person-name person="data.child"></person-name>
        </small>
        <button class="btn btn-xs btn-danger" ng-click="confirmRemoveChild()">Διαγραφή</button>
    </h2>
</div>

<display-child child="data.child"></display-child>

<h3>Κηδεμόνες <span class="badge" ng-if="data.relationships.length > 0">{{data.relationships.length}}</span>
    <button class="btn btn-primary btn-xs" ng-click="addGuardian()">Εισαγωγή νέου κηδεμόνα</button>
</h3>

<div ng-if="data.relationships.length == 0"> Δεν έχει εισαχθεί κανείς κηδεμόνας ακόμα</div>

<table class="table table-striped table-hover" ng-if="data.relationships.length > 0">
    <thead>
    <tr>
        <th>Όνομα</th>
        <th>Ιδιότητα</th>
        <th>&nbsp;</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="relationship in data.relationships">
        <td>{{relationship.guardian.firstName}} {{relationship.guardian.lastName}}</td>
        <td>{{relationship.relationship.relationshipMetadata.type | relationshipFilter}}</td>
        <td class="text-right">
            <button class="btn btn-xs" ng-click="go('/guardian/' + relationship.guardian.id + '/view')">
                <span class="glyphicon glyphicon-eye-open"></span> Προβολή
            </button>
            <button class="btn btn-xs" ng-click="go('/guardian/' + relationship.guardian.id + '/edit')">
                <span class="glyphicon glyphicon-pencil"></span> Ανανέωση
            </button>
            <button class="btn btn-xs" ng-click="confirmRemoveRelationship(relationship.relationship.id)">
                <span class="glyphicon glyphicon-remove"></span> Διαγραφή
            </button>
        </td>
    </tr>
    </tbody>
</table>

<div class="row">
    <div class="col-md-5" style="padding-top: 1em">
        <button class="btn btn-default" ng-click="toChildList()">Πίσω</button>
    </div>
</div>


<script type="text/ng-template" id="removeChildModal">
    <div class="modal-header">
        <h3 class="modal-title">Διαγραφή παιδιού</h3>
    </div>

    <div class="modal-body">
        Επιθυμείτε τη διαγραφή του παιδιού από το κατάλογο;
    </div>

    <div class="modal-footer">
        <button class="btn btn-danger" ng-click="removeChild()">Ναι</button>
        <button class="btn btn-default" ng-click="dismiss()">Όχι</button>
    </div>
</script>

<script type="text/ng-template" id="removeRelationshipModal">
    <div class="modal-header">
        <h3 class="modal-title">Διαγραφή σχέσης</h3>
    </div>

    <div class="modal-body">
        Επιθυμείτε τη διαγραφή αυτής της σχέσης;
    </div>

    <div class="modal-footer">
        <button class="btn btn-danger" ng-click="removeRelationship(relationshipId)">Ναι</button>
        <button class="btn btn-default" ng-click="dismiss()">Όχι</button>
    </div>
</script>
