body {
    font-family: Didact Gothic, sans-serif;
    font-size: 12pt;
}

table {
    width: 100%;
    border: thin solid black;
    border-collapse: collapse;
}

td {
    border: thin solid black;
    padding: 12pt;
}


.simple {
    font-size: 48pt;
}

.full {
    font-size: 48pt;
}

.full-lg {
    font-size: 32pt;
}

.tablet-small {
    font-size: 32pt;
}

.tablet-small-lg {
    font-size: 22pt;
}

.tablet-medium {
    font-size: 36pt;
}

.tablet-medium-lg {
    font-size: 24pt;
}

.tablet-large {
    font-size: 56pt;
}

.tablet-large-lg {
    font-size: 50pt;
}
