#foreach ($childKey in $childEmailContacts.keySet())
$childKey
------------------------------------------------------------
#foreach ($contactKey in $childEmailContacts[$childKey].keySet())
$contactKey: $childEmailContacts[$childKey][$contactKey]
#end


#end

