#foreach ($childKey in $childEmailContacts.keySet())
$childKey
------------------------------------------------------------
#foreach ($contactKey    in $childEmailContacts[$childKey])
$contactKey
#end

#end

