<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Πίνακας Επικοινωνίας</title>
    <style type="text/css">
        body {
        font-family: Open Sans, sans-serif;
        font-size: 6pt;
        }

        table {
        width: 100%;
        border: thin solid black;
        border-collapse: collapse;
        }

        td, th {
        border: thin solid black;
        }

        tbody {
        page-break-inside: avoid;
        }

        @page {
        size: A4 landscape;
        margin-top: 1.00cm;
        margin-bottom: 1.00cm;
        }
    </style>
</head>

<body>
<h1>Πίνακας Επικοινωνίας</h1>
<table>
    <thead>
    <tr>
        <th style="width: 2%">A/A</th>
        <th style="width: 18j%">Ονοματεπώνυμο</th>
        <th style="width: 40%">Επικοινωνία</th>
        <th style="width: 20%">Αναχώρηση</th>
        <th style="width: 20%">Παρατηρήσεις</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>00</td>
        <td>Κάποιος Κάποιου</td>
        <td>
            Πατέρας Κάποιου <strong>ΠΤ</strong>/ <strong>Σ </strong>2102525487 / Κ:6985874872 / Δ:21548946 <br/>
            MΤ:Μητέρα Κάποιου / <strong>Σ </strong>2102525487 / Κ:6985874872 / Δ:21548946 <br/>
            ΠΠ:Παπούς Κάποιου / <strong>Σ </strong>2102525487 / Κ:6985874872 / Δ:21548946 <br/>
            ΓΓ:Γιαγιά Κάποιου / <strong>Σ </strong>2102525487 / Κ:6985874872 / Δ:21548946 <br/>
        </td>
        <td>
            ΠΤ:Πατέρας Κάποιου<br/>
            MΤ:Μητέρα Κάποιου<br/>
            ΠΠ:Παπούς Κάποιου<br/>
            ΓΓ:Γιαγιά Κάποιου<br/>
        </td>
        <td>Ελεύθερο κείμενο</td>
    </tr>
    </tbody>
</table>
</body>

</html>
