<td>
    <span ng-dblclick="edit()" ng-show="!editMode">{{group.name}}</span>
    <input type="text" ng-model="group.name" ng-show="editMode"/>

    <div class="controls">
        <button class="btn btn-xs btn-primary" title = "Επεξεργασία" ng-show="!editMode && !working" ng-click="edit()">
            <span class="edit"></span>
        </button>

        <button class="btn btn-xs btn-danger" title = "Διαγραφή" ng-show="!working && !editMode"
                ng-disabled="group.members" ng-click="remove()">
            <span class="remove"></span>
        </button>

        <button class="btn btn-xs btn-success" title = "Μετάβαση"
                ng-show="!working && !editMode" ng-click="toGroup()">
            <span class="new-window"></span>
        </button>
    </div>

    <span class="badge" ng-show="!working && !editMode">{{group.members}}</span>
    <button class="btn btn-xs btn-success" title = "Αποθήκευση" ng-show="editMode" ng-click="update()">
        <span class="ok"></span>
    </button>
    <button class="cancel-link" title="Ακύρωση" ng-show="editMode" ng-click="cancel()">Άκυρο</button>

    <img src="images/loader.png" class="loader-small" ng-show="working"/>
</td>
