<div class="row">

    <div class="col-md-6 overview-area">

        <div class="panel panel-primary">

            <div class="panel-heading">Χρονιές
                <button class="btn btn-xs btn-default" title="Νέα χρονιά"
                        ng-click="addGroup()" ng-disabled="!viewData.active.department">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>

            <div class="panel-body" ng-if="!(data.groups.$resolved && viewData.active.department && data.groups.length)">
                <div class="overview-msg" ng-if="!viewData.active.department">
                    Επιλέξτε πρώτα τμήμα
                </div>

                <div class="overview-msg" ng-if="data.groups.$resolved && viewData.active.department && !data.groups.length">
                    Δεν έχει εισαχθεί καμιά χρονιά
                </div>
            </div>

            <img src="images/loader.png" class="center-block loader-medium" ng-hide="!viewData.active.department || data.groups.$resolved"/>
            <table class="table" ng-if="data.groups.$resolved && viewData.active.department && data.groups.length">

        <tbody>
            <tr class="clickable" ng-repeat="group in data.groups" focus-and-select
                group-control="group" groups="data.groups" view-data="viewData"
                ng-click="setActiveGroup (group)"
                ng-class="{'active': group.id === viewData.active.group.id }">
            </tr>
        </tbody>

    </table>

        </div>

    </div>

</div>
