body {
    font-family: 'Open Sans', sans-serif;
}

.clabel {
    font-weight: bold;
}

.clickable {
    cursor: pointer;
}

.loader-input {
  position: relative;
  padding-right: 30px;
}

.loader-img {
  position: absolute;
  right: 30px;
  top: 12px;
}

phone-type. {
  .label;
  .label-success;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('fonts/opensans.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('fonts/opensans-bold.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url('fonts/opensans-italic.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url('fonts/opensans-bolditalic.woff') format('woff');
}
