<ul class="nav navbar-nav navbar-right">
    <li dropdown focus-username>
        <a href="#" role="button" aria-expanded="false" dropdown-toggle>Σύνδεση<span class="caret"></span></a>
        <div class="dropdown-menu" style="padding: 10px 20px 10px 20px; width: 300px">
            <form class="form" id="formLogin">
                <div class="form-group">
                    <input type="text" name="username" id="username" autocomplete="off" placeholder="Χρήστης"
                           focus autofocus="autofocus" ng-model="data.username" class="form-control input-sm"/>
                </div>
                <div class="form-group">
                    <input type="password" name="password" id="password" autocomplete="off" placeholder="Κωδικός"
                           ng-model="data.password" class="form-control input-sm"/>
                </div>
                <div class="form-group">
                    <input type="checkbox" name="persist" id="persist"/> <span style="font-size: smaller">Μείνε συνδεδεμένος</span>
                </div>
                <button type="button" class="btn btn-sm btn-success" ng-click="login()">Eίσοδος</button>
            </form>
        </div>
    </li>
</ul>
