<nav class="navbar navbar-default navbar-static-top navbar-inverse">

    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"  ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand"><strong>Kατάλογος</strong></span>
        </div>

        <div class="collapse navbar-collapse" collapse="navCollapsed">
            <ul class="nav navbar-nav" ng-if="credentials.authenticated">
                <li><a href ng-click="toOverview()">Επισκόπιση</a></li>
                <li ng-if="active.group" dropdown>
                    <a href="#" role="button" aria-expanded="false" dropdown-toggle>Tάξη<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href ng-click="toGroup()">Παιδιά</a></li>
                        <li><a href ng-click="go('/child/create')">Νέο παιδί</a> </li>
                    </ul>
                </li>
                <li ng-if="active.group" dropdown>
                    <a href="#" role="button" aria-expanded="false" dropdown-toggle> Εκτυπώσεις <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="api/child/report/pdf/first?class={{active.group.id}}" target="_blank">Μικρά ονόματα</a></li>
                        <li><a href="api/child/report/pdf/full?class={{active.group.id}}" target="_blank">Ολόκληρα ονόματα</a></li>
                        <li><a href="api/child/report/pdf/smallTags?class={{active.group.id}}" target="_blank">Ταμπέλες ονομάτων (μικρές)</a></li>
                        <li><a href="api/child/report/pdf/bigTags?class={{active.group.id}}" target="_blank">Ταμπέλες ονομάτων (μεγάλες)</a></li>
                        <li><a href="api/communication/{{active.group.id}}?format=a4" target="_blank">Πίνακας Επικοινωνίας (A4)</a></li>
                        <li><a href="api/communication/{{active.group.id}}?format=a3" target="_blank">Πίνακας Επικοινωνίας (A3)</a></li>
                    </ul>
                </li>
            </ul>

            <form class="navbar-form navbar-right" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" ng-disabled="true"/>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-disabled="true">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </form>

            <logout></logout>

        </div>

    </div>

</nav>